.articulos{
    background-color:#CAF0F8;
    margin-top: -40px;
    margin-bottom: auto;
    display: grid;
    padding-left: 70px;
}
@media screen and (max-width: 1186px){
    .articulos {
        grid-template-columns: 50% 50%;
    }
}
@media screen and (min-width: 1186px){
    .articulos {
        grid-template-columns: 25% 25% 25% 25%;
    }
}
@media screen and (max-width: 882px){
    .articulos {
        padding-left: 100px;
        grid-template-columns: 100%;
    }
}
.card{
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 17px rgba(0, 0, 0, 0.37)
}
.card-body{
    height: 350px;
}  
.card-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-top: 10px;
}  
.card-subtitle{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-top: 10px;
}
.botonCard{
    background-color: #03045E;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    &:hover{
        background-color: #00011f;
        color: white;
    }
}
.asideQuienesSomos{
    display: flex;
    justify-content: center;
}
.imagenBlog{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10;
    margin: 10;
}
.artBlog{
    border: solid 4px #CAF0F8;
    border-radius: 5px;
    margin: 20px;
}
.gatoArt{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: -200px;
}
.botonesArt{
    list-style-type: none;
    text-align: center;
}
.botonesArt li{
    background-color: grey;
    padding: 10px;
    border-radius: 40px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.paginationBlog{
    color: #03045E;
}
.sectionboton{
    background-color: #CAF0F8;
    display: flex;
    justify-content: center;
 }
 .boton{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-decoration-line: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    margin-top: 30px; 
    margin-bottom: 30px;
    border-radius: 5px;
    color: white;
    background-color: #03045E;
    &:hover{
        background-color: white;
        color: #03045E;
    }
}