.sectionContacto{
    margin-top: 30px;
    padding-bottom: 70px;
    padding-left: 100px;
    display: grid;
}
    @media screen and (min-width: 882px){
        .sectionContacto {
            grid-template-columns: 50% 50%;
        }
    }
    @media screen and (max-width: 882px){
        .sectionContacto {
            grid-template-columns: 100%;
        }
    }  
.imgGato{
    width: 70%;
    border-radius: 5px;
}

.sectionContacto ul li{
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 10px;
}
.listContacto{
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    color: #03045E;
}
.gatoForm{
    width: 50%;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}
.formulario{
    margin-top: 30px;
    padding-bottom: 70px;
    padding-top: 70px;
    display: grid;
}
@media screen and (min-width: 882px){
    .formulario {
        grid-template-columns: 50% 50%;
    }
}
@media screen and (max-width: 882px){
    .formulario {
        grid-template-columns: 100%;
    }
}
.form{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}