h1{
    @include hColor;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 61px;
    text-transform: uppercase;
    text-align: center;  
    padding-top: 60px;  
    font-weight: 900;
}
h2{
    @include hColor;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #00011f;
    padding-left: 50px;
    padding-bottom: 10px;
    padding-top: 250px;
}
.parrafoQS{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.tituloQS{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: #00011f;
    text-transform: capitalize;
    font-weight: 500;
    padding-bottom: 40px;
}
.tituloQS2{
    @extend .tituloQS;
    font-weight: 700;
}
.tituloForm{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #00011f;
    text-transform: capitalize;
    font-weight: 500;
    padding-bottom: 40px;
}
.titulos{
    background-color: #CAF0F8;
    margin-right: -10px;
    margin-left: -10px;
    margin-top: -40px;
 }
 $Color: #00011f;

@mixin hColor($Color) {
    color: $Color;
}